main {
  min-height: 85vh;
}

header {
  z-index: 100;
}

.carrito {
  min-width: 70vh;
  max-width: 1000px;
  margin: 0 auto;
  width: 100%;
}

.table__products {
  display: flex;
}
.table__products > img {
  width: 9rem;
  object-fit: contain;
  border-radius: 6px;
  margin-right: 20px;
}
.table__quantity > input {
  width: 40px;
  border: none;
  outline: 0;
  font-size: 16px;
  font-weight: 700;
  margin-right: 30px;
  margin-bottom: 20px;
}

.sweet-warning {
  background-color: rgb(215, 90, 90);
}

/* Para poner en el JS */
/* swal({
  title: "Apakah anda yakin?",
  text: "Anda dapat mengaktifkannya lagi nanti...",
  icon: "warning",
  buttons: {
    confirm: { text: "Ubah", className: "sweet-warning" },
    cancel: "Batalkan",
  },
}); */
