main {
  min-height: 85vh;
}
body {
  min-height: 85vh;
}

header {
  z-index: 100;
}

.carrito {
  min-width: 70vh;
  max-width: 1000px;
  margin: 0 auto;
  width: 100%;
}

.table__products {
  display: flex;
}
.table__products > img {
  width: 9rem;
  object-fit: contain;
  border-radius: 6px;
  margin-right: 20px;
}
.table__quantity > input {
  width: 40px;
  border: none;
  outline: 0;
  font-size: 16px;
  font-weight: 700;
  margin-right: 30px;
  margin-bottom: 20px;
}

.sweet-warning {
  background-color: rgb(215, 90, 90);
}

.rounded {
  border-radius: 1rem;
}

.nav-pills .nav-link {
  color: #555;
}

.nav-pills .nav-link.active {
  color: white;
}

input[type="radio"] {
  margin-right: 5px;
}

.bold {
  font-weight: bold;
}

.whiteSquare {
  padding: 25px;
  position: relative;
  border: 0.1px solid black;
  margin: 5px black;
  background-color: rgb(246, 196, 163);
}
